#Core dependencies
trezor[shamir]==0.13.0
bit_utils>=0.1.5
cryptography>=42.0.0

#CLi
click>=8.1.7

#GUI

Pillow>=12.0.0
Pywhatkit>=5.3.0 (Stable)
pytest
pytest-cov
flake8
black
pytest-md
pytest-html
